numpy
torch
ffmpeg-python
Pillow
transformers
diffusers==0.18.0
tomesd
einops
torchvision
kornia
pytube
imageio
decord
git+https://github.com/openai/whisper.git
fire
moviepy
scikit-learn
accelerate
notebook